.scene canvas{
    width: 500px !important;
    height: 500px !important;
    scale: 1.5;
}

.hero_img{
    animation: scaler 15s ease-in-out infinite;
}
@keyframes scaler {
    0%{
        scale: 1;
    }
    40%{
        scale: 1.1;
    }
    60%{
        scale:1.1;
    }
    100%{
        scale: 1;
    }
}



.imganim {
    animation: mover 10s ease-in-out infinite;
}

@keyframes mover {
    0% {
        translate: 0 0 0;
    }

    10% {
        translate: 5px 3px 2px;
    }

    20% {

        translate: 2px 3px 2px;
    }

    30% {
        translate: 5px 3px 1px;

    }

    40% {
        translate: 5px 3px 5px;

    }

    50% {
        translate: 1px 5px 2px;
    }

    60% {
        translate: 0 0 5px;
    }

    70% {
        translate: 5px 3px 2px;
    }

    80% {

        translate: 2px 3px 2px;
    }

    90% {
        translate: 5px 3px 1px;

    }

    100% {
        translate: 0px 0px 0px;

    }

}


@media (max-width:1024px) {
    .scene canvas{
        scale: 1.2;
    }
}